body
{
	margin:auto;
	width: 700;
	/*background-color: rgb(84,133,190);*/
}
.bodylarge
{
	margin:auto;
	width: 1000;
	/*background-color: rgb(84,133,190);*/
}
.centre
{
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50;
	position:relative;
	vertical-align:middle;
	height: 400; 
	width: 300;
	background-image:url(logo.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: 750px;
}

a:visited
{
	color:rgb(0,128,255);
}
a:hover
{
	color:rgb(255,128,0);
}
a:active
{
	color:rgb(255,128,0);
}
a
{
	color:rgb(0,128,255);
}
caption
{
	font-size:120%;
	font-weight:bold;
}
h1
{
	text-align: center;
	font-size:200%;
	font-weight:bold;
	margin:auto;
}
h2
{
	font-size:150%;
	margin-bottom:0px;
	padding-bottom:0px;
}
em
{
	text-align: center;
	margin:auto;
	font-weight:bold;
}
